// Opacity
$opacity-min: 0 !default;
$disabled-opacity: 0.5 !default;
$opacity-mid: 0.5 !default;
$opacity-upper: 0.6 !default;
$opacity-max: 1 !default;

// Colours
$primary1: color('blue', 60) !default;
$primary2: color('blue', 50) !default;
$primary3: color('blue', 80) !default;
$secondary1: color('teal', 10) !default;
$secondary2: color('teal', 30) !default;
$secondary3: color('teal', 50) !default;
$communication1: color('green', 40) !default;
$communication2: color('gold', 20) !default;
$communication3: color('red', 50) !default;
$white: color('white') !default;
$neutral1: color('neutral-white', 4) !default;
$neutral3: color('neutral-white', 3) !default;
$gray1: color('gray', 1) !default;
$gray2: color('gray', 20) !default;
$gray3: color('gray', 40) !default;
$gray4: color('gray', 60) !default;
$gray5: color('gray', 80) !default;
$black: color('black', 100) !default;
$focus: color('blue', 20) !default;

// Drop shadows
$popover-shadow: 0 2px 8px 0 rgba(0,0,0,0.10) !default;
$popover-shadow-above: 0 -2px 8px 0 rgba(0,0,0,0.10) !default;

// Tone
$tone-active: 2 !default;
